<h2 mat-dialog-title *ngIf="data.dialogType === dialogType.SignIn || data.dialogType === dialogType.SignUp"
  class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<h2 mat-dialog-title *ngIf="data.dialogType === dialogType.ResetPassword1" class="title">Enter email to send password
  reset link</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignIn || data.dialogType === dialogType.SignUp">
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button *ngIf="data.dialogType === dialogType.SignIn || data.dialogType === dialogType.SignUp" mat-raised-button
    color="primary" (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
  <button *ngIf="data.dialogType === dialogType.ResetPassword1" mat-raised-button color="primary"
    (click)="sendPasswordResetLink()">Send link</button>
</div>
<div class="actions">
  <button *ngIf="data.dialogType === dialogType.SignIn" style="width: 150px;" mat-raised-button
    (click)="showResetPasswordForm()">Reset
    password</button>
</div>