<mat-card class="main-content align-center">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <form name="resetForm" class="main-content">
        <mat-form-field>
            <input name="password" [(ngModel)]="password" #upPassword="ngModel" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
            <input name="confirmPassword" [(ngModel)]="confirmPassword" matInput placeholder="Confirm Password">
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="resetPass()">
            Save
        </button>
        <button mat-raised-button (click)="goBack()">
            Back
        </button>
    </div>
</mat-card>